@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

:root{
    --primary-clr: #C00100;
    --primary-clr2: #9D0100;
    --secondary-clr: #f6d692;
    font-size: 10px;
}

@media (max-width: 600px){
    :root{
        font-size: 7px;
    }
}

body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(60, 60, 60);
    display: flex;
    align-items: center;
}

p,
button{
    font-family: VT323, monospace;
}

button{
    cursor: pointer;
    font-size: 2.2rem;
    background-color: grey;
    padding: 0.2rem 0.6rem 0.2rem 0.6rem;
    border-top: 0.4rem solid rgba(255, 255, 255, 0.3);
    border-right: 0.4rem solid rgba(255, 255, 255, 0.5);
    border-bottom: 0.4rem solid rgba(0, 0, 0, 0.4);
    border-left: 0.4rem solid rgba(0, 0, 0, 0.5);
    box-shadow: -0.2rem 0.2rem 0.1rem 0.2rem rgba(0, 0, 0, 0.3);
    transition: border 50ms, box-shadow 50ms, padding 50ms;
}

button:active{
    padding: 0.4rem 0.8rem 0px 0.4rem;
    border-top: 0.4rem solid rgba(0, 0, 0, 0.4);
    border-right: 0.4rem solid rgba(0, 0, 0, 0.5);
    border-bottom: 0.4rem solid rgba(255, 255, 255, 0.3);
    border-left: 0.4rem solid rgba(255, 255, 255, 0.5);
    box-shadow: 
    -0.1rem 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.3),
    inset -0.2rem 0.2rem 0.1rem 0.2rem rgba(0, 0, 0, 0.3);
}

#etch-da-sketch{
    width: 54rem;
    /* height: 62.5rem; */
    margin: 0 auto;
    background-color: var(--primary-clr);
    /* padding-top: 0.01rem; Uncomment in case you don't want the body Display to be flex*/
    border-radius: 0.1rem;
    box-shadow:
    0 0 0 0.2rem var(--secondary-clr),
    0 0 0 0.6rem var(--primary-clr2);
}

#screen{
    width: 50rem;
    height: 50rem;
    display: grid;
    background-color: rgba(255,255,255);
    opacity: 0.9;
    margin: 2rem auto 0;
    border-radius: 0.1rem;
    box-shadow: 
    0 0 0 0.4rem var(--primary-clr2),
    0 0 0 0.6rem var(--secondary-clr);
}

#screen>div{
    transition: background-color 120ms;
    user-select: none;
}

.btn-cntr{
    width: 41rem;
    margin: 1.6rem auto 1.2rem;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.btn-cntr>:first-child{
    position: relative;
}

.btn-row{
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
}

.btn-clmn{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin: auto;
    position: relative;
    top: 1rem;
}

input[type='color']{
    cursor: pointer;
    height: 3.5rem;
    width: 3.5rem;
    position: absolute;
    left: -4.5rem;
    background-color: var(--primary-clr);
    border: 2px solid var(--secondary-clr);
    padding: 3px;
}

#clr-picker::-webkit-color-swatch-wrapper{
    border: 2px solid var(--secondary-clr);
    padding: 0;
}

#clr-picker::-webkit-color-swatch{
    border: none;
}

.pressed{
    padding: 0.4rem 0.8rem 0px 0.4rem;
    border-top: 0.4rem solid rgba(0, 0, 0, 0.4);
    border-right: 0.4rem solid rgba(0, 0, 0, 0.5);
    border-bottom: 0.4rem solid rgba(255, 255, 255, 0.3);
    border-left: 0.4rem solid rgba(255, 255, 255, 0.5);
    box-shadow: 
    -0.1rem 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.3),
    inset -0.2rem 0.2rem 0.1rem 0.2rem rgba(0, 0, 0, 0.3); 
}

.hover{
    cursor: url(./Cursors/SquareNormal.cur), crosshair;
}

.hover>*{
    cursor: inherit;
}

.bulb-cntr{
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    width: 120px;
    position: absolute;
    top: -3.6rem;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.bulbs{
    cursor: pointer;
    width: 24px;
    line-height: 1.3rem;
}

.bulbs>img{
    width: 60%;
    border-radius: 50%;
    box-shadow: inset 0 0 6px 0px;
}

.bulbs>.on{
    box-shadow:
    inset 0 0 14px 6px rgba(255, 255, 0, 0.9),
    0 0 4px 0px rgba(255, 255, 0, 0.9),
    0 0 8px 0px rgba(255, 255, 0, 0.9),
    0 0 12px 0px rgba(255, 255, 0, 0.9),
    0 0 16px 0px rgba(255, 255, 0, 0.9); 
}