@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@200;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=K2D:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@font-face {
    font-family: 'Adine Kirnberg';
    src: url(./Fonts/adine-kirnberg.alternate.ttf);
    font-weight: normal;
    font-style: normal;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

:root{
    --primary-clr: #C00100;
    --primary-clr2: #9D0100;
    --secondary-clr: #f6d692;
    font-size: 10px;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: rgb(60, 60, 60);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

h1{
    position: relative;
    font-family:  'Adine Kirnberg', monospace;
    font-size: 7.4rem;
    font-weight: normal;
    color: var(--secondary-clr);
    text-shadow: 
    0.1rem 0 0 black,
    -0.1rem 0 0 black,
    0 0.1rem 0 black,
    0 -0.1rem 0 black,
    0 0 0.2rem black,
    0 0 0.6rem black,
    0 0 1rem black;
}

a{
    text-decoration: underline #630000;
    display: inline-block;
    color: inherit;
    border-radius: 0.2rem;
    transition: cubic-bezier(0.62, 2.4, 0.71, 0.38)
    transform 1s, 
    background 1s,
    box-shadow 1s;
}

a:hover{
    transform: scale(1.15) translateY(-20%);
    background-color: rgba(246, 214, 146, 0.7);
    box-shadow: 0 0.8rem 0.6rem -0.6rem black;
}

p,
button{
    font-family: VT323, monospace;
}

button{
    cursor: pointer;
    font-size: 2.2rem;
    background-color: grey;
    padding: 0.2rem 0.6rem 0.2rem 0.6rem;
    border-top: 0.4rem solid rgba(255, 255, 255, 0.3);
    border-right: 0.4rem solid rgba(255, 255, 255, 0.5);
    border-bottom: 0.4rem solid rgba(0, 0, 0, 0.4);
    border-left: 0.4rem solid rgba(0, 0, 0, 0.5);
    box-shadow: -0.2rem 0.2rem 0.1rem 0.2rem rgba(0, 0, 0, 0.3);
    transition: border 50ms, box-shadow 50ms, padding 50ms;
}

button:active{
    padding: 0.4rem 0.8rem 0 0.4rem;
    border-top: 0.4rem solid rgba(0, 0, 0, 0.4);
    border-right: 0.4rem solid rgba(0, 0, 0, 0.5);
    border-bottom: 0.4rem solid rgba(255, 255, 255, 0.3);
    border-left: 0.4rem solid rgba(255, 255, 255, 0.5);
    box-shadow: 
    -0.1rem 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.3),
    inset -0.2rem 0.2rem 0.1rem 0.2rem rgba(0, 0, 0, 0.3);
}

#etch-da-sketch{
    z-index: 1;
    width: 54rem;
    /* height: 62.5rem; */
    margin: 0 auto 8rem;
    background-color: var(--primary-clr);
    /* padding-top: 0.01rem; Uncomment in case you don't want the body Display to be flex*/
    border-radius: 0.1rem;
    box-shadow:
    0 0 0 0.2rem var(--secondary-clr),
    0 0 0 0.6rem var(--primary-clr2),
    0 0 0.6rem 0.6rem rgba(0, 0, 0, 0.6),
    0 0 1.2rem 0.6rem rgba(0, 0, 0, 0.6);
}

#screen{
    width: 50rem;
    height: 50rem;
    display: grid;
    background-color: rgba(255,255,255);
    opacity: 0.9;
    margin: 2rem auto 0;
    border-radius: 0.1rem;
    box-shadow: 
    0 0 0 0.4rem var(--primary-clr2),
    0 0 0 0.6rem var(--secondary-clr);
}

#screen>div{
    user-select: none;
    transition: background-color 120ms, outline-color 0.5s;
    outline: 0.1rem solid transparent;
}

#screen .on-change{
    outline-color: rgba(192, 0, 0, 0.25);
}

.btn-cntr{
    width: 41rem;
    margin: 1.6rem auto 1.2rem;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.btn-cntr>:first-child{
    position: relative;
}

.btn-row{
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
}

.btn-clmn{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin: auto;
    position: relative;
    top: 1rem;
}

input[type='color']{
    cursor: pointer;
    height: 3.5rem;
    width: 3.5rem;
    position: absolute;
    left: -4.5rem;
    background-color: var(--primary-clr);
    border: 0.2rem solid var(--secondary-clr);
    padding: 0.3rem;
}

#clr-picker::-webkit-color-swatch-wrapper{
    border: 0.2rem solid var(--secondary-clr);
    padding: 0;
}

#clr-picker::-webkit-color-swatch{
    border: none;
}

.pressed{
    padding: 0.4rem 0.8rem 0 0.4rem;
    border-top: 0.4rem solid rgba(0, 0, 0, 0.4);
    border-right: 0.4rem solid rgba(0, 0, 0, 0.5);
    border-bottom: 0.4rem solid rgba(255, 255, 255, 0.3);
    border-left: 0.4rem solid rgba(255, 255, 255, 0.5);
    box-shadow: 
    -0.1rem 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.3),
    inset -0.2rem 0.2rem 0.1rem 0.2rem rgba(0, 0, 0, 0.3); 
}

.hover{
    cursor: url(./Files/SquareNormal.cur), crosshair;
}

.hover>*{
    cursor: inherit;
}

.bulb-cntr{
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    width: 12rem;
    position: absolute;
    top: -3.6rem;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.bulbs{
    cursor: pointer;
    width: 2.4rem;
    line-height: 1.3rem;
}

.bulbs>img{
    width: 60%;
    border-radius: 50%;
    box-shadow: inset 0 0 0.6rem 0;
}

.bulbs>.on{
    box-shadow:
    inset 0 0 1.4rem 0.6rem rgba(255, 255, 0, 0.9),
    0 0 0.4rem 0 rgba(255, 255, 0, 0.9),
    0 0 0.8rem 0 rgba(255, 255, 0, 0.9),
    0 0 1.2rem 0 rgba(255, 255, 0, 0.9),
    0 0 1.6rem 0 rgba(255, 255, 0, 0.9); 
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    font-family: K2D, sans-serif, 'JetBrains Mono', monospace;
    font-size: 2.2rem;
    font-weight: 500;
    width: 100%;
    z-index: 1;
}

footer>:nth-child(3){
    background-color: var(--primary-clr2);
    padding: 1.4rem 0;
    box-shadow: 0 -0.2rem 0.4rem 0;
}

footer>:nth-child(2){
    width: 99%;
    height: 1rem;
    margin: 0 auto;
    background-color: var(--secondary-clr);
    box-shadow: 0 -0.1rem 0.4rem 0;
    border-radius: 0.2rem;
}

footer>:nth-child(1){
    width: 97%;
    height: 0.8rem;
    margin: 0 auto;
    background-color: var(--primary-clr2);
    box-shadow: 0 -0.1rem 0.4rem 0 rgba(0, 0, 0, 0.4);
    border-radius: 0.2rem;
}

.instructions{
    position: absolute;
    top: 3rem;
    left: 3rem;
    width: 30.2rem;
    font-family: K2D, sans-serif;
    color: rgb(20, 20, 20);
    font-size: 1.8rem;
    border-radius: 1.2rem;
    background-color: rgb(55, 55, 55);
    padding: 2rem;
    transition: background-color 1s;
}

.instructions:hover{
    background-color: #5a5a5a;
}

.instructions *{
    user-select: none;
}

ul{
    padding-left: 2rem;
}

ul>*{
    margin-top: 2rem;
}

ul>:last-child{
    margin-top: 0;
    list-style: none;
    font-size: 1.4rem;
}